<div>
            <form action="" method="post">
                {% csrf_token%}
                <div>
                    <b>Fist Name :</b><input class="form-control" name="first__name">
                    <b>Last Name :</b><input  class="form-control" name="last__name">
                    <b>Username :</b><input  class="form-control" name="username1">
                    <b>Password :</b><input type="password"  class="form-control" name="passwords">
                    <b>Email :</b><input  class="form-control" name="email">
                </div>
                <div>
                    <input type="submit" class="btn btn-success pull-left"  value="Register"/>
                    
                </div>
            </form>
</div>
     